.header-container {
  max-width: 700px;
  padding: 0 20px;
  margin: 0 auto;
  border-bottom: 2px solid $Color01;
  height: 50px;
}

.logo {
	float: left;
}

.menu li {
  display: inline-block;
  float: right;
  margin-left: 1em;
  margin-top: 15px;
  font-family: $SansSerif;
  font-size: 14px;
  font-weight: 700;
}

.current-menu-item {
	text-decoration: underline;
	color: $Color02;
}

.headroom {
  position: fixed;
  background: rgba(255,255,255,0.9);
  top: 0;
  width: 100%;
  height: 70px;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}