// From darker to lighter
$Color01: rgba(0,0,0,0.8);
$Color02: rgba(0,0,0,0.44);
$ColorLink: #005689;

$SansSerif: "Helvetica Neue","Helvetica","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",arial,sans-serif;
$Serif: Georgia,Cambria,"Times New Roman",Times,serif;
$Code: Consolas, monaco, monospace;