.widget {
  margin-bottom: 2em;
  a {
    color: $primary-color;
  }
}

.card-image {
  height: 400px;
  background-size: cover;
}

section {
  padding-top: 2em;
  p:first-child {
    margin-top: 0.3em;
  }
}

.floating-thumb {
  margin-top: -25%;
  img {
    border: 10px solid white;
    width:100%;
  }
}
